.container {
  max-width: 800px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button,
.logout {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.button {
  background: #0070f3;
  color: white;
}

.data {
  padding: 0 2rem;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.code {
  background: #efefef;
  padding: 2px 6px;
  font-weight: 600;
  border-radius: 4px;
}
